@inherits LayoutComponentBase

<div class="wrapper">
    <BlazorAppSilicon.Components.Sections.Header />
    <main>
            @Body
   </main>
  
    <BlazorAppSilicon.Components.Sections.Footer />
</div>