@inherits LayoutComponentBase
@layout AccountLayout

<div class="container details">
    <div class="profile">
        <ManageNavMenu />
    </div>
    <main class="infoDetails">

        @Body
    </main>

</div>
